:root{ 
  --iris: #4D5AE5; 
  --navyblue: #2E2F42; 
  --ocean: #404BBF; 
  --slate: #434455; 
  --white: #FFF; 
  --cloud: #F4F4FD; 
  --cornflower: #E7E9FC; 
 }
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate, #434455);
  background-color: #FFFFFF;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-next {
  color: var(--navyblue, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.menu {
  color: var(--navyblue, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address-list {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.section {
  background: var(--navyblue, #2e2f42);
}
.section-our-team {
  background-color: #F4F4FD}
/* Header 1 */
.name-h {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.main {
  color: var(--white, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
/* Button Text */
.button-tage {
  background: var(--cloud, #f4f4fd);
}
.button-name {
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.button-all {
  background: var(--ocean, #404BBF);
}
.but {
  background: var(--iris, #4D5AE5);
}
.button-portfolio {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
/* Body */
.name-paragrah {
  color: var(--slate, #434455);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.name-studio {
  color: var(--slate, #434455);
  text-align: center;
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.11px; /* 150% */
  letter-spacing: 0.32px;
}
.name-advantages {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
footer {
  background: var(--navyblue, #2e2f42);
}
.footer-paragrah {
  color: var(--cloud, #f4f4fd);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
